.ph-item {
  &, *,
  ::after, ::before {
    box-sizing: border-box;
  }

  direction: $ph-direction;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: $ph-gutter ($ph-gutter / 2) ($ph-gutter - $ph-spacer) ($ph-gutter / 2);
  overflow: hidden;
  margin-bottom: $ph-gutter;
  background-color: $ph-bg;
  border: $ph-border;
  border-radius: $ph-border-radius;

  &::before {
    content: " ";
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 1;
    width: 500%;
    margin-left: -250%;
    animation: phAnimation $ph-animation-duration linear infinite;
    background: linear-gradient(to right, rgba($ph-bg, 0) 46%, rgba($ph-bg, .35) 50%, rgba($ph-bg, 0) 54%) 50% 50%;
  }

  > * {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    padding-right: ($ph-gutter / 2);
    padding-left: ($ph-gutter / 2);
    margin-bottom: $ph-spacer;
  }
}

.ph-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: -($ph-spacer / 2);

  div {
    height: 10px;
    margin-top: ($ph-spacer / 2);
    background-color: $ph-color;
  }
  .big,
  &.big div {
    height: 20px;
  }
  .empty {
    background-color: rgba($ph-bg, 0);
  }
}

@mixin ph-make-col($size, $columns) {
  .ph-col-#{$size} {
    flex: 0 0 percentage($size / $columns);
  }
}

@for $i from 1 through $ph-cols {
  @if $ph-cols-remove-odd and $i % 2 == 0 {
    @include ph-make-col($i, $ph-cols);
  } @else if not $ph-cols-remove-odd {
    @include ph-make-col($i, $ph-cols);
  }
}

// TODO make this a `.ph-wrap` class for no padding, no background, no animation,
// and remove direction from `.ph-item`. This is a breaking change
[class*="ph-col"] {
  direction: $ph-direction;
  > * {
    + .ph-row {
      margin-top: 0;
    }

    + * {
      margin-top: ($ph-spacer / 2);
    }
  }
}

.ph-avatar {
  position: relative;
  width: 100%;
  min-width: 60px;
  background-color: $ph-color;
  border-radius: $ph-avatar-border-radius;
  overflow: hidden;

  &::before {
    content: " ";
    display: block;
    padding-top: 100%;
  }
}

.ph-picture {
  width: 100%;
  height: 120px;
  background-color: $ph-color;
}

@keyframes phAnimation {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    transform: translate3d(30%, 0, 0);
  }
}
